<div class="text-left">
	<form method="post" action="{{ path('property_delete', {'id': bien.id}) }}" onsubmit="return confirm('Etes vous sûr de supprimer ce champ ?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bien.id) }}">
		<button class="btn">Supprimer</button>
	</form>
</div>
