{% extends 'admin/sbadmin.html.twig' %}

{% block title %}Modifier un article
{% endblock %}

{% block body %}
	<main>
		<div class="container-fluid px-4">
			<h1 class="mt-4">Dashboard</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">Dashboard</li>
			</ol>

			<div class="example-wrapper">
				<h1>Modifier un article</h1>
				{{ form(form) }}
				</div>

			</div>
		</main>
	{% endblock %}
