<style>
	footer {

		background-size: 100% 100%;
		background-color: black;
		margin-bottom: 1;
	}
</style>

<footer>

	<p class="m-0 text-center text-white">Copyright &copy; Sabbah 2021</p>

</footer>
