<style>
	header {
		background-image: url("{{ asset('img/headerimages.jpg') }}");
		background-size: 100% 100%;
		height: 500px;
	}
	.slogan {
		color: white;
		text-shadow: 2px 2px 4px #000000;
		font-size: xx-large;

	}
</style>

<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-3">
		<div class="text-center text-white">

			<p class="slogan">Welcome to sabbah annonce</p>
		</div>
	</div>
</header>
